/* 1.General Start */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
    background-color:#FEFFFF;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    scroll-behavior: smooth;
}
/* 1.General End */

/* 2.Entrance Animation and Filter Start */
.fade-in {
    opacity: 0 !important;
    transform: translateY(20px) !important; 
    transition: opacity 1s ease-out, transform 1s ease-out !important;
    will-change: opacity, transform !important;
}

/* Active state for fade-in after transition (used in the javascript for entrance animation) */
.fade-in.active {
    opacity: 1 !important;
    transform: translateY(0) !important; 
}

.blur {
    filter: none;
    transition: filter 0.3s ease; 
}

.blur.activeblur {
    filter: blur(1px);
}

/* 2.Entrance Animation and Filter End */

/* 3.Navbar Start */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; /* Center items vertically */
    background-color: #FFFFFF; /* Pure white background */
    padding: 20px 40px; /* Increased padding for more space */
    color: #333333; /* Darker text color */
    position: relative; 
    z-index: 1100;
}

#navbar-logo {
    width: 55px;
    height: 55px;
}

.navbar-menu {
    display: flex;
    align-items: center;
    padding-left: 50px;
    gap: 20px;
}

.navbar-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
    gap: 30px;
}

.navbar-menu li a {
    text-decoration: none; 
}

.navbar-menu li h3 {
    font-size: 22px;
    transition: color 0.3s ease, transform 0.3s ease;
    color: #393343;
    font-weight: 500;
    text-decoration: none; 
}

.navbar li h3:hover {
    color: #FF9900; /* Brighter hover color */
}

.icons {
    display: flex;
    align-items: center; /* Center icons vertically */
    gap: 12px;
}

.mobile-icons {
    display: none; /* Hiding mobile icons */
}

.icon-container {
    background-color: #FFFFFF; /* Pure white background */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    border-radius: 50%; 
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.icon-container:hover {
    background-color: #FF9900; /* Brighter hover color */
}

.icon {
    width: 20px;
    height: 20px;
}

.burger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.burger-menu .line {
    width: 100%;
    height: 3px;
    background-color: #333;
}

.close-button { 
    display: none;
}
/* 3.Navbar End */

/* 4.Sidebars Start */
.sidebar-cart,
.sidebar-account,
.sidebar-forgot {
    width: 300px;
    height: 100%;
    background: #F3B552;
    position: fixed;
    top: 0;
    justify-content: flex-end;
    right: -300px;
    overflow: hidden;
    z-index: 1300;
    transition: right 0.3s ease; 
    justify-content: right;
    box-shadow: -2px 0 15px rgba(0, 0, 0, 0.2); /* Shadow effect */
}

.sidebar-cart.active {
    right: 0; 
}

.sidebar-container {
    padding: 25px;
}

.close-sidebar {
    padding-right: 200px;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #333;
    align-items: left;
    transition: color 0.3s ease;
}

.close-sidebar:hover {
    color: #FF4500;
    background:none;
}

.sidebar-container h3 {
    text-decoration: none;
    font-size: 22px;
    font-weight: normal;
    width: 100%;
    line-height: 80px;
    display: block;
}

.divider {
    border: none; 
    height: 1px; 
    background-color: #333; 
    margin: 20px 0; 
}

.sidebar-cart ul{
    margin: 0;
    padding: 0;
}

.sidebar-cart ul li{
    padding-left: 25px;
    list-style: none;
}

.sidebar-account {
    width: 300px;
    height: 100%;
    background: #F3B552;
    position: fixed;
    top: 0;
    justify-content: flex-end;
    right: -300px;
    overflow: hidden;
    transition: right 0.3s ease; 
    justify-content: right;
}

.sidebar-account.active {
    right: 0; 
}

.sidebar-account ul{
    margin: 0;
    padding: 0;
}

.sidebar-account ul li{
    padding-left: 25px;
    list-style: none;
    margin-bottom: 15px; 
}

.sidebar-account ul li input[type="email"],
.sidebar-account ul li input[type="password"] {
    width: 100%; 
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; 
    transition: border-color 0.3s ease;
}

.sidebar-account ul li input[type="email-account"]:focus,
.sidebar-account ul li input[type="password"]:focus {
    border-color: grey; 
    outline: none; 
}

#forgot-button, #create-account, #admin-login {
    display: block;
    color: #F0F0F0;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    text-align: left;
    font-size: 16px;
}

#forgot-button:hover, #create-account:hover, #admin-login:hover {
    text-decoration: underline;
}

.sidebar-account ul button  {
    background-color: #FF9900;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    margin-top: 10px; 
    transition: background-color 0.3s ease;
}

.sidebar-account ul button:hover  {
    background-color: #CC7A00; 
}

.sidebar-forgot {
    width: 300px;
    height: 100%;
    background: #F3B552;
    position: fixed;
    top: 0;
    justify-content: flex-end;
    right: -300px;
    overflow: hidden;
    transition: right 0.3s ease; 
    justify-content: right;
}

.sidebar-forgot.active {
    right: 0; 
}

.sidebar-forgot p {
    color: #F0F0F0;
    font-size: 17px;
}

.sidebar-forgot ul{
    margin: 0;
    padding: 0;
}

.sidebar-forgot ul li{
    padding-left: 25px;
    list-style: none;
    margin-bottom: 15px; 
}

.sidebar-forgot ul li input[type="email-account"]{
    width: 100%; 
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; 
    transition: border-color 0.3s ease;
}

.sidebar-forgot ul li input[type="email-account"]:focus {
    border-color: grey; 
    outline: none; 
}

.sidebar-forgot ul button  {
    background-color: #FF9900;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    margin-top: 10px; 
    transition: background-color 0.3s ease;
}

.sidebar-forgot ul button:hover  {
    background-color: #CC7A00; 
}

/* 4.Sidebars End */

/* 5.Hero Start */
.hero {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    background-color: #EEEEEE;
  }
  
.carousel-hero {
    display: flex;
    transition: transform 0.8s ease-in-out;
}
  
.carousel-hero img {
    width: 100%;
    height: 30%;
    flex-shrink: 0;
}
  
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    border-radius:8px;
    padding: 12px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease-out
}

/* Showing the next and previous button for corousel when hovering over hero */
.hero:hover .prev{
    opacity: 1;
}

.hero:hover .next {
    opacity: 1;
}
  
.prev {
    left: 20px;
}

.next {
    right: 20px;
}
/* 5.Hero End */
  
/* 6.History Start */
.history {
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 8px;
    padding-bottom: 30px;
    background-color: #EEEEEE;
}

.history h2 {
    font-size: 26px;
    color: #393343;
    font-weight:600;
    text-align: center;
}

.history h3 {
    color: #393343;
    font-weight:500;
    text-align: center;
}
/* 6.History End */

/* 7.Shoemaking Start */
.shoemaking {
    display: flex;
    flex-direction: row;
}

.shoemaking-img {
    width: 50vw;
}
/* 7.Shoemaking End */

/* 8.Products Start */
.products {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: #FEFFFF;
}

.latest-product{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 42px;
}

.latest-product-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
}

.latest-product-title::before, .latest-product-title::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #e0e0e0; 
    margin: 0 10px;
}

.latest-product-title span {
    font-weight: bold;
    font-size: 28px;
    color: #333; 
    text-transform: uppercase;
    color: #393343;
}

.products-container {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.featured-img {
    width: 400px;
    height: 400px;
    transition: filter 0.2s ease;
}

.featured-img:hover {
    filter:brightness(0.8);
}

.product {
    display: flex;
    flex-direction: column;
}

.product a {
    text-decoration: none; 
}

.product h4 {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    color: #393343;
    transition: color 0.2s ease;
}

.product h4:hover {
    color:#F3B552;
}

.products-carousel {
    padding-top:50px;
    max-width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

/* Destkop only buttons */
.products-carousel-buttons {
    display: flex;
    flex-direction: row;
    align-items: right;
    gap: 6px;
    padding-bottom: 25px;
    justify-content: right;
}

.products-carousel-button {
    top: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius:4px;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
}

/* Smartphone and tablet only slider */
.slider {
    display: none;
}

.multi-carousel {
    display: flex;
    gap: 10px; 
    transition: transform 0.5s ease-in-out;
}

.product-img {
    flex: 0 0 calc(25% - 10px); 
    box-sizing: border-box;
}

.product-img img {
    width: 100%;
    aspect-ratio: 1 / 1; 
    object-fit: cover;
    display: block;
    transition: filter 0.3s ease;
}

.product-img:hover img {
    filter: brightness(0.8);
}
/* 8.Products End */

/* 9.Interesting Points Start */
.ip {
    display: flex;
    flex-direction: column;
    background-color: #EEEEEE;
}

.row-ip {
    display: flex;
    flex-direction: row;
}

.img-ip {
    width: 50vw;
    transition: filter 0.3s ease-in-out; 
}

.img-ip-container {
    position: relative;
}

.img-ip-container:hover .img-ip {
    filter: brightness(0.7);
}

.img-ip-container:hover #img-ip-spesific {
    filter: brightness(0.9);
}

.img-ip-text {
    position: absolute; 
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FEFFFF;
    top: 50%; 
    left: 50%; 
    right: 50%;
}

.img-ip-text h3{
    font-size: 34px;
}

.img-ip-text a{
    font-size: 18px;
}

#spesific-img-text {
    color: #393343;
}
/* 9.Interesting Points End */

/* 10.Footer Start */
.footer {
    background-color:  #17252A;
    color: white; 
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left:  40px;
    padding-right:  40px;
    text-align: center; 
}

.footer-content {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

.logo img {
    width: 75px; 
    height: 75px;
}

.social {
    display: flex; 
    flex-direction: row;
    padding-right: 30px;
    gap: 6px;
}

.social-icon-container {
    background-color: #393343;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    border-radius: 50%; 
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.social-icon-container:hover {
    background-color: #F3B552;
}

.social-icon img {
    width: 28px;
    height: 28px;
}

.footer-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 130px;
    gap: 70px;
}

.footer-link {
    color: #FEFFFF; 
    text-decoration: none;
    font-size: 20px;
    font-weight: 600; 
    transition: color 0.3s ease;
}

.footer-link:hover {
    color:#F3B552;
}

.copyright {
    font-size: 17px;
    margin-top: 60px; 
    color: #666;
}
/* 10.Footer End */

@media (max-width: 768px) {
    /* Navbar Start */
    .navbar {
        flex-direction: column; 
        padding: 10px; 
        align-items: flex-start; /* Align items to the start */
    }

    .navbar-logo {
        order: 1; 
        padding-top: 30px;
        padding-left: 30px;
        margin-bottom: -40px; 
        margin-top: 28px;
    }

    .icons {
        display: none; /* Hiding destkop icons */
    }

    .mobile-icons {
        display: flex;
        gap: 12px;
        justify-content: center;
        padding: 10px 0;
    }

    .burger-menu {
        order: 2; 
        align-self: flex-end;
        padding-right: 35px; 
        margin-bottom: 20px;
    }

    .navbar-menu {
        visibility: hidden;
        opacity: 0;
        flex-direction: column;
        width: 100%;
        background-color: #FFFFFF;
        position: absolute;
        padding: 20px 0;
        order: 3; 
        z-index: 1100;
        border-radius: 8px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        transition: all 0.3s ease-in-out; 
        max-height: 0; 
        overflow: hidden; 
    }

    .close-button {
        display: none;
        font-size: 30px;
        position: absolute;
        top: 10px;
        right: 20px;
        cursor: pointer;
    }
    
    .navbar-menu.active .close-button {
        display: block;
    }

    .navbar-menu ul {
        flex-direction: column;
        gap: 10px;
        padding: 10px 20px; 
    }

    .navbar-menu li a {
        padding: 10px 15px; 
        border-radius: 4px;
        transition: background-color 0.3s ease; 
    }

    .navbar-menu.active {
        display: flex; 
        max-height: 700px; 
        visibility: visible;
        opacity: 1;
    }

    .burger-menu {
        display: flex; 
    }
    /* Navbar End */
}

/* Adjustments For Smartphone */
@media only screen and (max-width: 600px) {
    /* 1.History Start */
    .history {
        padding-left: 40px;
        padding-right: 40px;
    }
    /* 1.History End */

    /* 2.Hero Start */
    .next, .prev {
        opacity: 1;
    }
    /* 2.Hero End */

    /* 3.Shoemaking Start */
    .shoemaking {
        flex-direction: column;
    }

    .shoemaking-img {
        width: 100vw;
    }
    /* 3.Shoemaking End */

    /* 4.Products start */
    .products {
        padding-left: 68px;
        padding-right: 68px;
    }

    .products-container {
        flex-direction: column;
    }

    .featured-img {
        width: 320px;
        height: 320px;
    }

    .products-carousel-buttons {
        display: none;
    }

    .slider {
        display: block;
    }

    .product-img {
        flex: 0 0 calc(50% - 10px);
    }
    /* 4.Products End */

    /* 5.Interesting Points Start  */
    .img-ip {
        width: 100vw;
    }

    .row-ip {
        flex-direction: column;
    }
    /* 5.Interesting Points End */

    /* 6.Footer Start */
    .footer-content {
        flex-direction: column;
        gap: 30px;
        align-items: center;
        justify-content: center;
    }

    .social {
        padding-right: 0px;
    }

    .footer-menu {
        flex-direction: column;
        padding-left: 0px;
        gap: 10px;
    }
    /* 6.Footer End */
}



/* Adjustments For Tablet */
@media only screen and (max-width: 992px) and (min-width: 600px)
{
   /* 1.History Start */
   .history {
    padding-left: 40px;
    padding-right: 40px;
    }
    /* 1.History End */

    /* 2.Shoemaking Start */
    .shoemaking {
        flex-direction: column;
    }

    .shoemaking-img {
        width: 100vw;
    }
    /* 2.Shoemaking End */

    /* 3.Products start */
    .products {
        padding-left: 68px;
        padding-right: 68px;
    }

    .products-container {
        flex-direction: column;
    }

    .featured-img {
        width: 450px;
        height: 450px;
    }

    .products-carousel-buttons {
        display: none;
    }

    .slider {
        display: block;
    }

    .product-img {
        flex: 0 0 calc(50% - 10px);
    }
    /* 3.Products End */

    /* 4.Footer Start */
    .footer-content {
        flex-direction: column;
        gap: 30px;
        align-items: center;
        justify-content: center;
    }

    .social {
        padding-right: 0px;
    }

    .footer-menu {
        gap: 50px;
        padding-left: 0px;
    }
    /* 4.Footer End */
}