html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
    background-color:#FEFFFF;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    scroll-behavior: smooth;
}

/* Entrance Animation and Filter Start */

.fade-in {
    opacity: 0 !important;
    transform: translateY(20px) !important; 
    transition: opacity 1s ease-out, transform 1s ease-out !important;
    will-change: opacity, transform !important;
}

/* Active state for fade-in after transition (used in the javascript for entrance animation) */
.fade-in.active {
    opacity: 1 !important;
    transform: translateY(0) !important; 
}

.blur {
    filter: none;
    transition: filter 0.3s ease; 
}

.blur.activeblur {
    filter: blur(1px);
}

/* Entrance Animation and Filter End */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #FEFFFF;
    border-bottom: 1px solid #ddd;
}

header .logo img {
    height: 50px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    text-decoration: none;
    color: #393343;
    font-weight: bold;
}

.hero {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    background-color: #EEEEEE;
}

.carousel-hero {
    display: flex;
    transition: transform 0.8s ease-in-out;
}

.carousel-hero img {
    width: 100%;
    height: 50vh; 
    object-fit: cover; 
    flex-shrink: 0;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    border-radius:8px;
    padding: 12px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.hero:hover .prev {
    opacity: 1;
}

.hero:hover .next {
    opacity: 1;
}

.prev {
    left: 20px;
}


.next {
    right: 20px;
}

.hero-text {
    position: absolute;
    z-index: 1;
    padding: 20px;
    text-align: center;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-text h1 {
    font-size: 2.8em; 
    margin: 0;
}

.hero-text p {
    font-size: 1.1em; 
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: #FEFFFF;
}

.product {
    flex: 1 1 calc(25% - 40px);
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #ddd; 
    border-radius: 15px; 
    padding: 20px;
    background-color: #fff;
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 15px; 
}

.product h2 {
    font-size: 1.2em;
    margin: 10px 0;
    color: #393343;
}

.product p {
    font-size: 1em;
    color: #555;
}

footer {
    background-color:  #17252A;
    color: white; 
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left:  40px;
    padding-right:  40px;
    text-align: center; 
}

.footer-content {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

.logo img {
    width: 75px; 
    height: 75px;
}

.social {
    display: flex; 
    flex-direction: row;
    padding-right: 30px;
    gap: 6px;
}

.social-icon-container {
    background-color: #393343;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    border-radius: 50%; 
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.social-icon-container:hover {
    background-color: #F3B552;
}

.social-icon img {
    width: 28px;
    height: 28px;
}

.footer-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 130px;
    gap: 70px;
}

.footer-link {
    color: #FEFFFF; 
    text-decoration: none;
    font-size: 20px;
    font-weight: 600; 
    transition: color 0.3s ease;
}

.footer-link:hover {
    color:#F3B552;
}

.copyright {
    font-size: 17px;
    margin-top: 60px; 
    color: #666;
}

.footer-bottom {
    margin-top: 20px;
    color: #666;
}

/* Navbar Start */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; /* Center items vertically */
    background-color: #FFFFFF; /* Pure white background */
    padding: 20px 40px; /* Increased padding for more space */
    color: #333333; /* Darker text color */
    position: relative; 
    z-index: 1100;
}

#navbar-logo {
    width: 55px;
    height: 55px;
}

.navbar-menu {
    display: flex;
    align-items: center;
    padding-left: 184px;
    gap: 20px;
}

.navbar-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
    gap: 30px;
}

.navbar-menu li a {
    text-decoration: none; 
}

.navbar-menu li h3 {
    font-size: 22px;
    transition: color 0.3s ease, transform 0.3s ease;
    color: #393343;
    font-weight: 500;
    text-decoration: none; 
}

.navbar li h3:hover {
    color: #FF9900; /* Brighter hover color */
}

.icons {
    display: flex;
    align-items: center; /* Center icons vertically */
    gap: 12px;
}

.mobile-icons {
    display: none; /* Hiding mobile icons */
}

.icon-container {
    background-color: #FFFFFF; /* Pure white background */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    border-radius: 50%; 
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.icon-container:hover {
    background-color: #FF9900; /* Brighter hover color */
}

.icon {
    width: 20px;
    height: 20px;
}

.burger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.burger-menu .line {
    width: 100%;
    height: 3px;
    background-color: #333;
}

.close-button { 
    display: none;
}
/* Navbar End */

/* 4.Sidebars Start */
.sidebar-cart,
.sidebar-account,
.sidebar-forgot {
    width: 300px;
    height: 100%;
    background: #F3B552;
    position: fixed;
    top: 0;
    justify-content: flex-end;
    right: -300px;
    overflow: hidden;
    z-index: 1300;
    transition: right 0.3s ease; 
    justify-content: right;
    box-shadow: -2px 0 15px rgba(0, 0, 0, 0.2); /* Shadow effect */
}

.sidebar-cart.active {
    right: 0; 
}

.sidebar-container {
    padding: 25px;
}

.close-sidebar {
    padding-right: 200px;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #333;
    align-items: left;
    transition: color 0.3s ease;
}

.close-sidebar:hover {
    color: #FF4500;
    background:none;
}

.sidebar-container h3 {
    text-decoration: none;
    font-size: 22px;
    font-weight: normal;
    width: 100%;
    line-height: 80px;
    display: block;
}

.divider {
    border: none; 
    height: 1px; 
    background-color: #333; 
    margin: 20px 0; 
}

.sidebar-cart ul{
    margin: 0;
    padding: 0;
}

.sidebar-cart ul li{
    padding-left: 25px;
    list-style: none;
}

.sidebar-account {
    width: 300px;
    height: 100%;
    background: #F3B552;
    position: fixed;
    top: 0;
    justify-content: flex-end;
    right: -300px;
    overflow: hidden;
    transition: right 0.3s ease; 
    justify-content: right;
}

.sidebar-account.active {
    right: 0; 
}

.sidebar-account ul{
    margin: 0;
    padding: 0;
}

.sidebar-account ul li{
    padding-left: 25px;
    list-style: none;
    margin-bottom: 15px; 
}

.sidebar-account ul li input[type="email-account"],
.sidebar-account ul li input[type="password"] {
    width: 100%; 
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; 
    transition: border-color 0.3s ease;
}

.sidebar-account ul li input[type="email-account"]:focus,
.sidebar-account ul li input[type="password"]:focus {
    border-color: grey; 
    outline: none; 
}

#forgot-button, #create-account, #admin-login {
    display: block;
    color: #F0F0F0;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    text-align: left;
    font-size: 16px;
}

#forgot-button:hover, #create-account:hover, #admin-login:hover {
    text-decoration: underline;
}

.sidebar-account ul button  {
    background-color: #FF9900;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    margin-top: 10px; 
    transition: background-color 0.3s ease;
}

.sidebar-account ul button:hover  {
    background-color: #CC7A00; 
}

.sidebar-forgot {
    width: 300px;
    height: 100%;
    background: #F3B552;
    position: fixed;
    top: 0;
    justify-content: flex-end;
    right: -300px;
    overflow: hidden;
    transition: right 0.3s ease; 
    justify-content: right;
}

.sidebar-forgot.active {
    right: 0; 
}

.sidebar-forgot p {
    color: #F0F0F0;
    font-size: 17px;
}

.sidebar-forgot ul{
    margin: 0;
    padding: 0;
}

.sidebar-forgot ul li{
    padding-left: 25px;
    list-style: none;
    margin-bottom: 15px; 
}

.sidebar-forgot ul li input[type="email-account"]{
    width: 100%; 
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; 
    transition: border-color 0.3s ease;
}

.sidebar-forgot ul li input[type="email-account"]:focus {
    border-color: grey; 
    outline: none; 
}

.sidebar-forgot ul button  {
    background-color: #FF9900;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    margin-top: 10px; 
    transition: background-color 0.3s ease;
}

.sidebar-forgot ul button:hover  {
    background-color: #CC7A00; 
}

/* 4.Sidebars End */

.product-image {
    position: relative;
    overflow: hidden;
}

.product-image img {
    width: 100%;
    height: auto; 
    transition: transform 0.5s ease, opacity 0.3s ease; 
    border-radius: 15px; 
}

.hover-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.5s ease; 
    border-radius: 15px; 
}

.product-image:hover .main-image {
    transform: scale(1.05); 
}

.product-image:hover .hover-image {
    opacity: 1; 
    transform: scale(1.05); 
}

/* Add styles for search input */

#navbar-search-input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100px;
}

#navbar-mobile-search-input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 120px;
}

/* Search Results */
.search-results {
    position: absolute; 
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 15px; 
    max-height: 300px; 
    overflow-y: auto;
    z-index: 1000;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.search-results ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.search-results li {
    display: flex;
    align-items: center;
    margin-bottom: 15px; 
    padding: 10px; 
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); 
}

.search-results img {
    width: 50px;
    height: 50px;
    margin-right: 15px; 
    border-radius: 5px; 
}

.search-results span {
    font-size: 1em; 
    color: #F3B552; 
}

/* Add styles for the sort dropdown */
.sort-container {
    display: flex;
    justify-content: flex-end; 
    margin: 20px 50px;
}

#sort-select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.product-link {
    text-decoration: none; /* Menghapus garis bawah */
    color: inherit; /* Memastikan warna teks sesuai dengan elemen induknya */
}

.product-link:hover {
    color: #F3B552; /* Warna saat hover, jika diinginkan */
}

/* Responsive Styles */
@media (max-width: 1200px) {
    .product {
        flex: 1 1 calc(33.333% - 40px); /* Adjust to 3 products per row */
    }
}

@media (max-width: 992px) {
    .product {
        flex: 1 1 calc(50% - 40px); /* Adjust to 2 products per row */
    }
}

@media (max-width: 768px) {
    .navbar-menu {
        flex-direction: column;
        gap: 10px;
    }

    .product {
        flex: 1 1 calc(100% - 40px); /* Adjust to 1 product per row */
    }

    .hero-text h1 {
        font-size: 2em; /* Adjust font size for smaller screens */
    }

    .hero-text p {
        font-size: 1em; /* Adjust font size for smaller screens */
    }
}

@media (max-width: 576px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .icons {
        justify-content: center;
        margin-top: 10px;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-menu {
        flex-direction: column;
        gap: 20px;
    }

    .social {
        justify-content: center;
    }
}

/* Burger Menu Styles */
.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #393343;
    margin: 4px;
    transition: all 0.3s ease;
}

.navbar-menu.active {
    display: flex;
    flex-direction: column;
    position: static; /* Change from absolute to static */
    background-color: #FEFFFF;
    width: 100%;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: max-height 0.3s ease; /* Add transition for smooth sliding */
    max-height: 0; /* Initially set max-height to 0 */
    overflow: hidden; /* Hide overflow content */
}

.burger.active + .navbar-menu {
    max-height: 500px; /* Set a max-height that can accommodate the menu items */
}

@media (max-width: 960px) {
   /* Navbar Start */
   .navbar {
        flex-direction: column; 
        padding: 10px; 
        align-items: flex-start; /* Align items to the start */
    }

    .navbar-logo {
        order: 1; 
        padding-top: 30px;
        padding-left: 30px;
        margin-bottom: -40px; 
        margin-top: 28px;
    }

    .icons {
        display: none; /* Hiding destkop icons */
    }

    .mobile-icons {
        display: flex;
        gap: 12px;
        justify-content: center;
        padding: 10px 0;
    }

    .burger-menu {
        order: 2; 
        align-self: flex-end;
        padding-right: 35px; 
        margin-bottom: 20px;
    }

    .navbar-menu {
        visibility: hidden;
        opacity: 0;
        flex-direction: column;
        width: 100%;
        background-color: #FFFFFF;
        position: absolute;
        padding: 20px 0;
        order: 3; 
        z-index: 1100;
        border-radius: 8px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        transition: all 0.3s ease-in-out; 
        max-height: 0; 
        overflow: hidden; 
    }

    .close-button {
        display: none;
        font-size: 30px;
        position: absolute;
        top: 10px;
        right: 20px;
        cursor: pointer;
    }

    .navbar-menu.active .close-button {
        display: block;
    }

    .navbar-menu ul {
        flex-direction: column;
        gap: 10px;
        padding: 10px 20px; 
    }

    .navbar-menu li a {
        padding: 10px 15px; 
        border-radius: 4px;
        transition: background-color 0.3s ease; 
    }

    .navbar-menu.active {
        display: flex; 
        max-height: 900px; 
        visibility: visible;
        opacity: 1;
    }

    .burger-menu {
        display: flex; 
    }
    /* Navbar End */
    
}

/* Responsive Styles for Footer
 /* Adjustments For Smartphone */
@media only screen and (max-width: 600px) {

    /* 6.Footer Start */
    .footer-content {
        flex-direction: column;
        gap: 30px;
        align-items: center;
        justify-content: center;
    }

    .social {
        padding-right: 0px;
    }

    .footer-menu {
        flex-direction: column;
        padding-left: 0px;
        gap: 10px;
    }
    /* 6.Footer End */
}


/* Adjustments For Tablet */
@media only screen and (max-width: 992px) and (min-width: 600px)
{
    /* 4.Footer Start */
    .footer-content {
        flex-direction: column;
        gap: 30px;
        align-items: center;
        justify-content: center;
    }

    .social {
        padding-right: 0px;
    }

    .footer-menu {
        gap: 50px;
        padding-left: 0px;
    }
    /* 4.Footer End */
}


