/* Global Styles */
body {
    font-family: 'Times New Roman', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    line-height: 1.6;
}

/* Header Styles */
.header {
    background-color: #f8f8f8;
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid #e7e7e7;
}

.header img {
    height: 50px;
}

/* Entrance Animation and Filter Start */

.fade-in {
    opacity: 0 !important;
    transform: translateY(20px) !important; 
    transition: opacity 1s ease-out, transform 1s ease-out !important;
    will-change: opacity, transform !important;
}

/* Active state for fade-in after transition (used in the javascript for entrance animation) */
.fade-in.active {
    opacity: 1 !important;
    transform: translateY(0) !important; 
}

.blur {
    filter: none;
    transition: filter 0.3s ease; 
}

.blur.activeblur {
    filter: blur(1px);
}
/* Entrance Animation and Filter End */

/* Container Styles */
.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
}

.left-column, .right-column {
    flex: 1;
    padding: 20px;
}

.left-column img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 8px;
}

/* Right Column Styles */
.right-column h1 {
    font-size: 28px;
    margin-bottom: 15px;
}

.right-column .price {
    font-size: 22px;
    color: #333;
    margin-bottom: 20px;
}

.right-column p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.right-column ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}

.right-column ul li {
    font-size: 16px;
    color: #666;
    margin-bottom: 5px;
}

.right-column .config-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.right-column .config-section {
    margin-bottom: 20px;
}

.right-column .config-section img {
    width: auto;
    height: 50px;
    margin-right: 10px;
    border: 1px solid #e7e7e7;
    cursor: pointer;
    transition: transform 0.3s, border-color 0.3s;
}

.right-column .config-section img.selected {
    border: 2px solid #FF9900;
    transform: scale(1.05);
}

.right-column select, .right-column input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    font-size: 16px;
}

.right-column .config-section label {
    display: block;
    margin-bottom: 5px;
    font-weight: 700;
}

/* Footer Styles */
.footer {
    background-color: #17252A;
    color: white;
    padding: 40px 40px 20px;
    text-align: center;
    border-top: 1px solid #e7e7e7;
}

/* Navbar Styles */
/* Navbar Start */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; /* Center items vertically */
    background-color: #FFFFFF; /* Pure white background */
    padding: 20px 40px; /* Increased padding for more space */
    color: #333333; /* Darker text color */
    position: relative; 
    z-index: 1100;
}

#navbar-logo {
    width: 55px;
    height: 55px;
}

.navbar-menu {
    display: flex;
    align-items: center;
    padding-left: 50px;
    gap: 20px;
}

.navbar-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
    gap: 30px;
}

.navbar-menu li a {
    text-decoration: none; 
}

.navbar-menu li h3 {
    font-size: 22px;
    transition: color 0.3s ease, transform 0.3s ease;
    color: #393343;
    font-weight: 500;
    text-decoration: none; 
}

.navbar li h3:hover {
    color: #FF9900; /* Brighter hover color */
}

.icons {
    display: flex;
    align-items: center; /* Center icons vertically */
    gap: 12px;
}

.mobile-icons {
    display: none; /* Hiding mobile icons */
}

.icon-container {
    background-color: #FFFFFF; /* Pure white background */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    border-radius: 50%; 
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.icon-container:hover {
    background-color: #FF9900; /* Brighter hover color */
}

.icon {
    width: 20px;
    height: 20px;
}

.burger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.burger-menu .line {
    width: 100%;
    height: 3px;
    background-color: #333;
}

.close-button { 
    display: none;
}
/* Navbar End */

/* 4.Sidebars Start */
.sidebar-cart,
.sidebar-account {
    width: 300px;
    height: 100%;
    background: #F3B552;
    position: fixed;
    top: 0;
    justify-content: flex-end;
    right: -300px;
    overflow: hidden;
    z-index: 1300;
    transition: right 0.3s ease; 
    justify-content: right;
    box-shadow: -2px 0 15px rgba(0, 0, 0, 0.2); /* Shadow effect */
}

.sidebar-cart.active {
    right: 0; 
}

.sidebar-container {
    padding: 25px;
}

.close-sidebar {
    padding-right: 200px;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #333;
    align-items: left;
    transition: color 0.3s ease;
}

.close-sidebar:hover {
    color: #FF4500;
    background:none;
}

.sidebar-container h3 {
    text-decoration: none;
    font-size: 22px;
    font-weight: normal;
    width: 100%;
    line-height: 80px;
    display: block;
}

.divider {
    border: none; 
    height: 1px; 
    background-color: #333; 
    margin: 20px 0; 
}

.sidebar-cart ul{
    margin: 0;
    padding: 0;
}

.sidebar-cart ul li{
    padding-left: 25px;
    list-style: none;
}

.sidebar-account {
    width: 300px;
    height: 100%;
    background: #F3B552;
    position: fixed;
    top: 0;
    justify-content: flex-end;
    right: -300px;
    overflow: hidden;
    transition: right 0.3s ease; 
    justify-content: right;
}

.sidebar-account.active {
    right: 0; 
}

.sidebar-account ul{
    margin: 0;
    padding: 0;
}

.sidebar-account ul li{
    padding-left: 25px;
    list-style: none;
    margin-bottom: 15px; 
}

.sidebar-account ul li input[type="email-account"],
.sidebar-account ul li input[type="password"] {
    width: 100%; 
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; 
    transition: border-color 0.3s ease;
}

.sidebar-account ul li input[type="email-account"]:focus,
.sidebar-account ul li input[type="password"]:focus {
    border-color: grey; 
    outline: none; 
}

#forgot-password, #create-account {
    display: block;
    color: #F0F0F0;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    text-align: left;
    font-size: 16px;
}

#forgot-password:hover, #create-account:hover {
    text-decoration: underline;
}

.sidebar-account ul button  {
    background-color: #FF9900;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    margin-top: 10px; 
    transition: background-color 0.3s ease;
}

.sidebar-account ul button:hover  {
    background-color: #CC7A00; 
}
/* 4.Sidebars End */

/* Footer Start */
.footer {
    background-color: #17252A;
    color: white;
    padding: 40px 40px 20px;
    text-align: center;
    border-top: 1px solid #e7e7e7;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo img {
    width: 75px;
    height: 75px;
}

.social {
    display: flex;
    gap: 6px;
}

.social-icon-container {
    background-color: #393343;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.social-icon-container:hover {
    background-color: #F3B552;
}

.social-icon img {
    width: 28px;
    height: 28px;
}

.footer-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 130px;
    gap: 70px;
}

.footer-link {
    color: #FEFFFF;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    transition: color 0.3s ease;
}

.footer-link:hover {
    color: #F3B552;
}

.copyright {
    font-size: 17px;
    margin-top: 60px;
    color: #666;
}

/* Dropdown Indication */
.right-column select {
    appearance: none;
    background-image: url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/svgs/solid/caret-down.svg');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
    margin-bottom: 20px;
}

/* Shoe Last Options */
.shoe-last-options, .toe-box-options {
    display: flex;
    gap: 10px;
    align-items: flex-start;
    max-width: 300px;
    margin-bottom: 20px;
}

.shoe-last-option, .toe-box-option {
    cursor: pointer;
    transition: transform 0.3s;
}

.shoe-last-option:hover, .toe-box-option:hover {
    transform: scale(1.1);
}

.description {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}

.add-to-cart {
    background-color: #FF9900;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.add-to-cart:hover {
    background-color: #e68a00;
}

/* Preview Styles */
.toe-box-preview, .shoe-last-preview {
    position: absolute;
    display: none;
    border: 1px solid #e7e7e7;
    background-color: #fff;
    z-index: 1000;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.toe-box-preview img, .shoe-last-preview img {
    width: 100px;
    height: auto;
}

@media (max-width: 768px) {
    /* Navbar Start */
    .navbar {
        flex-direction: column; 
        padding: 10px; 
        align-items: flex-start; /* Align items to the start */
    }

    .navbar-logo {
        order: 1; 
        padding-top: 30px;
        padding-left: 30px;
        margin-bottom: -40px; 
        margin-top: 28px;
    }

    .icons {
        display: none; /* Hiding destkop icons */
    }

    .mobile-icons {
        display: flex;
        gap: 12px;
        justify-content: center;
        padding: 10px 0;
    }

    .burger-menu {
        order: 2; 
        align-self: flex-end;
        padding-right: 35px; 
        margin-bottom: 20px;
    }

    .navbar-menu {
        visibility: hidden;
        opacity: 0;
        flex-direction: column;
        width: 100%;
        background-color: #FFFFFF;
        position: absolute;
        padding: 20px 0;
        order: 3; 
        z-index: 1100;
        border-radius: 8px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        transition: all 0.3s ease-in-out; 
        max-height: 0; 
        overflow: hidden; 
    }

    .close-button {
        display: none;
        font-size: 30px;
        position: absolute;
        top: 10px;
        right: 20px;
        cursor: pointer;
    }
    
    .navbar-menu.active .close-button {
        display: block;
    }

    .navbar-menu ul {
        flex-direction: column;
        gap: 10px;
        padding: 10px 20px; 
    }

    .navbar-menu li a {
        padding: 10px 15px; 
        border-radius: 4px;
        transition: background-color 0.3s ease; 
    }

    .navbar-menu.active {
        display: flex; 
        max-height: 700px; 
        visibility: visible;
        opacity: 1;
    }

    .burger-menu {
        display: flex; 
    }
    /* Navbar End */
}

/* Responsive Styles for Footer
 /* Adjustments For Smartphone */
 @media only screen and (max-width: 600px) {
    /* Container styles */
    .container {
        flex-direction: column;
    }

    .left-column img {
        width: 100%;
    }

    #image2 {
        display: none;
    }

    .right-column img {
        display: none;
    }

    /* Footer Start */
    .footer-content {
        flex-direction: column;
        gap: 30px;
        align-items: center;
        justify-content: center;
    }

    .social {
        padding-right: 0px;
    }

    .footer-menu {
        flex-direction: column;
        padding-left: 0px;
        gap: 10px;
    }
    /* Footer End */
}


/* Adjustments For Tablet */
@media only screen and (max-width: 992px) and (min-width: 600px)
{
    /* Footer Start */
    .footer-content {
        flex-direction: column;
        gap: 30px;
        align-items: center;
        justify-content: center;
    }

    .social {
        padding-right: 0px;
    }

    .footer-menu {
        gap: 50px;
        padding-left: 0px;
    }
    /* Footer End */
}
